$game-padding: 10px 10px;

$info-padding: 5px 10px;
$info-background: gray;

$resetbtn-float: right;

$bottom: 50px;
$width: 300px;

$element-width: 75px;
$element-border: 1px solid #d6ced6;
$text-align: center;
$margin: -4px;