@import "config";

#splash{
    display:none;
    text-align:center;
}
    #splash h1{
        margin-top:70px;
        font-size:80px;
    }
    #splash h1 .char1{
        color:$char1;
    }
    #splash h1 .char2{
        color:$char2;
    }
    #splash #start{
        background: $background-color;
        color:$start;
        border-radius: 10px;
        margin-top:140px;
        padding:10px;
        font-size:50px;
    }